/* BODY */

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Gruppo', cursive;
    box-sizing: border-box;
}

/* HAUT MOBILE */

.haut-mobile{
    background-color: rgb(57, 183, 255);
}

.haut-mobile img{
    height: 100px;
}

/* CONTENU MOBILE */

.contenu-mobile{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 1rem;
}

.solde{
    display: flex;
    align-items: center;
    border: 1px dotted black;
    width: calc(90% - 10%);
    padding: 1rem;
    font-size: 1.2rem;
}

.solde-desc{
    width: calc(90% - 10%);
}

.espace{
    flex: 1;
}

.btn{
    height: 1.4rem;
    margin-right: 10px;
}

/* MENU MOBILE */

.menu-mobile{
    display: flex;
    background-color: rgb(57, 183, 255);
    bottom: 0;
    position: fixed;
    padding: 15px;
    width: 100%;
    overflow-x: scroll;
}

.item{
    text-align: center;
    min-width: 150px;
}

.item img{
    height: 30px;
}

